WebServicesMonitoring/WebContent/wsdl/AmazonRDSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://databases.server.services.ufrn.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://databases.server.services.ufrn.br" xmlns:intf="http://databases.server.services.ufrn.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://databases.server.services.ufrn.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="connectDatabaseAmazon">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectDatabaseAmazonResponse">
    <complexType>
     <sequence>
      <element name="connectDatabaseAmazonReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="connectDatabaseAmazonResponse">

      <wsdl:part element="impl:connectDatabaseAmazonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectDatabaseAmazonRequest">

      <wsdl:part element="impl:connectDatabaseAmazon" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AmazonRDSService">

      <wsdl:operation name="connectDatabaseAmazon">

         <wsdl:input message="impl:connectDatabaseAmazonRequest" name="connectDatabaseAmazonRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectDatabaseAmazonResponse" name="connectDatabaseAmazonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AmazonRDSServiceSoapBinding" type="impl:AmazonRDSService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="connectDatabaseAmazon">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectDatabaseAmazonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectDatabaseAmazonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AmazonRDSServiceService">

      <wsdl:port binding="impl:AmazonRDSServiceSoapBinding" name="AmazonRDSService">

         <wsdlsoap:address location="http://localhost:8080/WebServicesMonitoring/services/AmazonRDSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
