WebServicesMonitoring/WebContent/wsdl/DropboxStorage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://storage.services.ufrn.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://storage.services.ufrn.br" xmlns:intf="http://storage.services.ufrn.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://storage.services.ufrn.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getFile">
    <complexType>
     <sequence>
      <element name="accessToken" type="xsd:string"/>
      <element name="file" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFileResponse">
    <complexType>
     <sequence>
      <element name="getFileReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getFileRequest">

      <wsdl:part element="impl:getFile" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFileResponse">

      <wsdl:part element="impl:getFileResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DropboxStorage">

      <wsdl:operation name="getFile">

         <wsdl:input message="impl:getFileRequest" name="getFileRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFileResponse" name="getFileResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DropboxStorageSoapBinding" type="impl:DropboxStorage">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DropboxStorageService">

      <wsdl:port binding="impl:DropboxStorageSoapBinding" name="DropboxStorage">

         <wsdlsoap:address location="http://localhost:8080/WebServicesMonitoring/services/DropboxStorage"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
