WebServicesMonitoring/WebContent/wsdl/RackspaceDatabaseService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://databases.server.services.ufrn.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://databases.server.services.ufrn.br" xmlns:intf="http://databases.server.services.ufrn.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://databases.server.services.ufrn.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="connectDatabaseRackspace">
    <complexType>
     <sequence>
      <element name="host" type="xsd:string"/>
      <element name="user" type="xsd:string"/>
      <element name="pwd" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="connectDatabaseRackspaceResponse">
    <complexType>
     <sequence>
      <element name="connectDatabaseRackspaceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="connectDatabaseRackspaceRequest">

      <wsdl:part element="impl:connectDatabaseRackspace" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="connectDatabaseRackspaceResponse">

      <wsdl:part element="impl:connectDatabaseRackspaceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RackspaceDatabaseService">

      <wsdl:operation name="connectDatabaseRackspace">

         <wsdl:input message="impl:connectDatabaseRackspaceRequest" name="connectDatabaseRackspaceRequest">

       </wsdl:input>

         <wsdl:output message="impl:connectDatabaseRackspaceResponse" name="connectDatabaseRackspaceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RackspaceDatabaseServiceSoapBinding" type="impl:RackspaceDatabaseService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="connectDatabaseRackspace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="connectDatabaseRackspaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="connectDatabaseRackspaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RackspaceDatabaseServiceService">

      <wsdl:port binding="impl:RackspaceDatabaseServiceSoapBinding" name="RackspaceDatabaseService">

         <wsdlsoap:address location="http://localhost:8080/WebServicesMonitoring/services/RackspaceDatabaseService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
